header{
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-weight: 400;
    color:coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: aquamarine;
}

nav{
    background-color: chartreuse;
}

h1, h2{
    font-size: large;
    color: blueviolet;
}

img{
    width: 200px;
    height: 200px;
}

